.Main{
    max-width: 80%;
    padding: 10% 20%;
    text-align: center;
    align-items: center;
    height: 100%; 
    p{
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        margin:10px;
    }
    div{
        font-weight: 600;
        font-size: 72px;
        line-height: 90px;
        text-align: center;
        letter-spacing: -0.025em;
    }
}
.buttonXl{
    display: flex;
    width: 100%;
    min-height: 20vh;
    @include alignCenter;
    button{
        @include buttonXL;
    }
}

