
$fontsizeNavbarLi: 17px;
$fontsizeNavbarName: 20px;
$grey: rgb(87, 86, 86);


//local
$marginNavbar: 8em;

.Navbar{
    @include alignCenter;
    width: 100%;
    height: 10vh;
    
    //Name
    p{
        /* Body lg / Bold */
        font-family: 'Inter';
        font-weight: 700;
        font-size: $fontsizeNavbarName;
        line-height: 28px;
        margin-left: $marginNavbar;
    }
    transition: 200ms;
    //List
    ul{
        @include alignCenter;
        margin-left: auto;
        //item
        transition: 200ms;
        li{
            font-family: 'Inter';
            font-weight: 500;
            font-size: $fontsizeNavbarLi;
            line-height: 20px;
            margin-right: 3em;
            text-decoration: none;
            list-style: none;
            padding: 2px;
            cursor: pointer;
            &:hover{
                color: $grey;
            }
        }
    }  
    
    //Button
    button{
        margin-right: $marginNavbar;
        @include buttonDonate();
    }
}