@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


//Main colors

//Primary
$darkPurple: #5E3BEE;
$lightPurple: #DFD8FC;

//Secondary
$darkGreen: #58C2A2;
$lightGreen: #F0FEFA;


@mixin alignCenter(){
  justify-content: center;
  align-items: center;
  display: flex;
}

@mixin buttonDonate() {
  background-color: $darkPurple;
  color: white;
  border-radius: 100px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  padding: 15px 24px;
  @include alignCenter;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: 200ms;
  &:hover{
    color: black;
    background-color: $lightPurple;
  }
}

$btnXLTextSizeFont: 0.25em;

@mixin buttonXL(){
  appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 20px 40px;
        border-radius: 8px;
        background-color: $darkPurple;
        background-image: linear-gradient(to right, transparent 50%, $lightPurple 50%);
        font-size: $btnXLTextSizeFont;
        transition: 0.4s;
        color: white;
        border-radius: 100px;
        background-size: 250%;
        background-position: 0%;
        text-transform: uppercase;
        &:hover{
            color: black;
            background-position: 100%;
            //box-shadow: #5E5DF0 0 10px 20px -10px;
        }
}