@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');


//Main colors

//Primary
$darkPurple: #5E3BEE;
$lightPurple: #DFD8FC;

//Secondary
$darkGreen: #58C2A2;
$lightGreen: #F0FEFA;


@mixin alignCenter(){
  justify-content: center;
  align-items: center;
  display: flex;
}

@mixin buttonDonate() {
  background-color: $darkPurple;
  color: white;
  border-radius: 100px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  padding: 15px 24px;
  @include alignCenter;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  opacity: 1;
  outline: 0 solid transparent;
  user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  transition: 200ms;
  &:hover{
    color: black;
    background-color: $lightPurple;
  }
}

$btnXLTextSizeFont: 0.25em;

@mixin buttonXL(){
  appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 20px 40px;
        border-radius: 8px;
        background-color: $darkPurple;
        background-image: linear-gradient(to right, transparent 50%, $lightPurple 50%);
        font-size: $btnXLTextSizeFont;
        transition: 0.4s;
        color: white;
        border-radius: 100px;
        background-size: 250%;
        background-position: 0%;
        text-transform: uppercase;
        &:hover{
            color: black;
            background-position: 100%;
            //box-shadow: #5E5DF0 0 10px 20px -10px;
        }
}

//Line
.Line{
  @include alignCenter;
  .line-container{
      width: 100%;
      top: 90%;
      height: 30px;
      align-self: center;
      @include alignCenter;
      padding: 8px;
      .line-conatainer--line{
      width: 95%;
      height: 45px;
      position: relative;
      @include alignCenter;
      &::after, &::before{
        content: '';
        position: absolute;
        margin: auto;
        height: 1px;
        width: 49%;
      }
      &::after{
        left: 0;
        top: 50%;
        background: linear-gradient(211deg, #9CA3AF 0%, rgba(156, 163, 175, 0) 0.18%, rgba(156, 163, 175, 0) 0%, rgba(156, 163, 175, 0) 0.38%, #9CA3AF 42%);
      }
      &::before{
        right: 0;
        top: 50%;
        background: linear-gradient(84deg, #9CA3AF 0%, rgba(156, 163, 175, 0) 0.18%, rgba(156, 163, 175, 0) 0%, rgba(156, 163, 175, 0) 0.38%, #9CA3AF 42%);
      }
        .line-container--circle{
          @include alignCenter;
            display: flex;
          .line-container--arrow{
            margin-top: 0.5%;
            border-left: 1px solid rgb(122, 122, 122);
            border-bottom: 1px solid rgb(122, 122, 122);
            width: 1rem;
            height: 1rem;
            transform: rotate(315deg);
          }
        }
      }
    }
}

